header {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid var(--light-grey);
}

header > div {
	display: flex;
	justify-content: space-between;
}

h1 {
	font-size: 3rem;
	text-align: center;
	/* font-weight: bold; */
}

button {
	font-family: "Roboto", sans-serif;
	font-size: 2rem;
	border: 1px solid var(--light-grey);
	border-radius: 5px;
	transition-duration: 0.1s;
}

#title {
	display: flex;
	align-items: center;
	gap: 10px;
}

#title > i {
	font-size: 3rem;
	color: var(--purple);
}
