footer {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	transition-duration: 0.2s;
	position: fixed;
	bottom: 0;
	/* background-color: var(--white); */
	border-top: 1px solid var(--light-grey);
	margin: 0 -10px;
	padding: 10px 0;
}

a {
	text-decoration: none;
	transition-duration: 0.6s;
}

a,
span {
	font-weight: bold;
}

@media (min-width: 768px) {
	footer {
		margin: 0 -20px;
	}
}
